<ActionBar title="checkbox" class="action-bar"> </ActionBar>
<StackLayout class="p-20">
	<ScrollView class="h-full">
		<StackLayout>
			<Label text="Test 14" style="font-size: 14"></Label>
			<Label text="Test 16" style="font-size: 16"></Label>
			<Label text="Test 18" style="font-size: 18"></Label>
			<Label text="Test 20" style="font-size: 20"></Label>
			<Label text="Test 22" style="font-size: 22"></Label>
			<Label text="Test 24" style="font-size: 24"></Label>
			<Label text="" style="height: 32"></Label>
			<CheckBox style="font-size: 30" text="test"></CheckBox>
		</StackLayout>
	</ScrollView>
</StackLayout>
